body{
    margin: 0px;
    padding: 0px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    background-color: #2D2D2D;
}

footer{
    display: flex;
    align-items: center;
    margin-top: 10px ;
    background-color: #111111;
}

footer span{
    flex: 1;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.3em;
    margin: 1em;

}

.topBar{
    background-color: #111111;
    color: white;
    text-align: center;
    letter-spacing: 0.5em;
}


.menuTop{
    display: none;
    margin-top: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #2D4263;
}

.menuTop li{
    display: none;
    text-align: center;
    flex: 1;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding: 0.3em;
    list-style: none;
    height: 20px;
    cursor:pointer;
}

.menuTop li:hover{
    background-color: #C84B31;
    color:white;
}

.tecnologias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    
}

.tecnologias div{
    flex: 1;
}

.tecnologias img{
    display: block;
    margin: 0 auto;
    height: 50px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 100%;
    border: 3px solid #111111;
}

.conteudo{
    display: flex;
    flex-direction: column;
}

.conteudo_item{
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    margin: 25px 10px 0px 10px;
    background-color: #111111;
    transition: 2s;
}

.conteudo_item:hover{
    background-color: #222222;
    animation: conteudo_item 2s forwards;
 /*   cursor: pointer; */
}

.conteudo_item img{
    height: 50px;
    padding: 15px;
}

.conteudo_item ul{
    list-style-type: none;
    color: white;

    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 2em;
    font-weight: bold;
    font-size: 10px;
}

.conteudo_item ul li:first-child{
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.conteudo ul li:last-child{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 10px;
}

.conteudo_item ul li a{
    text-decoration: none;
}

.conteudo_item ul li a:visited{
    text-decoration: none;
    color:blue;
}

@media only screen and (max-width: 800px) {

.conteudo_item{
    flex-direction: column;
}

.menuTop{
    flex-direction: column;
}

.tecnologias img{
    margin-bottom: 5px;
}

    
}